# Global config
force_detect=0
detect_if_not_in_filename=1
trim_release_type=1
trim_resolution=1
# scanner="mediainfo"   # Uncomment this to set the scanner program globally
# type="movie"          # Uncomment this to set the archive type globally

# TV list config
display_season_for_1=1
display_series_for_1=1
tv_columns="Series|Season|Episode|Year|Resolution|Video|Audio|Size (GB)|Size (MB)|Size (KB)|Size (B)|Filename|Sort"

# Movie list config
movie_columns="Title|Edition|Year|Resolution|Video|Audio|Size (GB)|Size (MB)|Size (KB)|Size (B)|Filename|Sort"