# Global config
detect_resolution=1

# TV list config
display_season_for_1=1
display_series_for_1=1
tv_columns=( "Series" "Year" "Season" "Episode" "Resolution" "Version" "Size (GB)" "Filename" )

# Movie list config
movie_columns=( "Title" "Year" "Resolution" "Version" "Size (GB)" "Filename" )
